<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atlxw.community.dao.EvaluateDao">
    <insert id="dislike">
        insert into agreeornot(to_evaluate, evaluate_type, agreeornot)
        values(#{evaluate_id}, #{evaluate_type}, 0);
    </insert>
    <insert id="like">
        insert into agreeornot(to_evaluate, evaluate_type, agreeornot)
        values(#{evaluate_id}, #{evaluate_type}, 1);
    </insert>
</mapper>